{%load static%}
{% block css %}
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Galada&family=Michroma&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/detailing.css' %}">
{% endblock %}

<div class="post media">
    <div>
        <center><h2 style=" color: white;" class="display-4 mt-3">{{ post.title }}</h2></center>
        <div class="parent">
          <div class="inedit1">
        <h2 class="text-secondary">
            Created by
            <a style="text-decoration: none; color: black;" href="{% url 'posts:for_user' username=post.user.username %}" title="click here to get all the articles posted by this user">
                {{ post.user.username }}
            </a>

        </h2>
            On
        <h5 style="color: silver;">
            <time class="time">
                <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}"></a>
                {{ post.created_at }}
            </time>
        </h5>
          </div>
        <div class="inedit2">
        <div class="jumbotron" style="color: black; font-weight: bold;">
            <p >{{ post.content|safe }}</p>
        </div>
        </div>
        </div>
        <div class="media-footer">
            {% if user.is_authenticated and post.user == user %}
                <a class="btn btn-secondary btn-lg mt-1 mb-1" href="{% url 'posts:post-update' pk=post.pk %}">Update</a>
                <a href="{% url 'posts:delete' pk=post.pk %}" class="btn btn-danger btn-lg mt-1 mb-1">
                <span class="glyphicon glyphicon-remove"></span>Delete</a>
            {% endif %}
        </div>
    </div>
</div>
