#log1 .mkbut{
     font-size: 15px;
     opacity: 0.5;
     border: 1px solid white;
     width: 110px;
     height: 25px;
     padding: 10px;
     text-align: center;
     font-weight: bold;
     border-radius: 5px;
     color: white;
     line-height: 25px;
     text-decoration: none;
     box-sizing: border-box;
}

button.changed{
  border-radius: 4px;
  background-color: inherit;
  border: none;
  color: orange;
  text-align: center;
  font-size: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
}
.changed a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}
.changed a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.changed:hover a {
  padding-right: 15px;
}

.changed:hover a:after {
  opacity: 1;
  right: 0;
}
.container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 2%;
  margin-left: 5%;
}
div.posts-page{
  margin-right: 0% !important;
}

.parent{
  display: flex;
}
.inedit1{
  width: 30%;
}
.inedit2{
  width: 75%;
}
#log1 .mkbut:hover{
  background-color: grey;
}

.jumbotron{
  background-color: #d6dfe6;
}
.jumbotron h1,h2,h3,h4,h5,h6,strong{
  color: black;
}
 div.content-section div.media img#propic {
   width: 150px;
   height: 150px;
   border-radius: 150px;
   transition: transform .2s;
   -webkit-border-radius: 150px;
   -moz-border-radius: 150px;
}

div.posts-page{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

div.content-section div.media-body h2.account-heading{
  margin-top: 1rem;
  margin-bottom: 0;

}

div.policon div.media-body h2.account-heading{
  margin-top: 1rem;
  margin-bottom: 0;

}
img#propic:hover {
  transform: scale(1.45);
}

div.content-section div.media-body{
    margin-left: 2.3rem;
}
@media (max-width:470px) {

  div.content-section div.media img#propic {
    width: 100px;
    height: 100px;
    transition: transform .2s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
 }
 .parent{
   display:contents;
 }
 .inedit1{
   width: 50%;
 }
 .inedit2{
   width: 96%;
 }

 img#propic:hover {
   transform: scale(1.3);
 }
 .container {
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 0;
   margin-left: 0;
 }
}
