<!DOCTYPE html>
{% load static %}
<html lang="en" >
	<head>
		<title>{% block title %}{% endblock %}ArtiCults</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		{% block css %}
		
		{% endblock %}
		
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}"></noscript>
		<noscript><link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}"></noscript>
		
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body class="is-preload">
		<div id="wrapper" >
			<header id="header" class="alt">
				<a href="{% url 'home' %}" class="logo"><strong>ArtiCults</strong></a>
				<nav>
					<a href="#menu" style="color: white; text-decoration: none;">Menu</a>
				</nav>
			</header>
			<nav id="menu" style="text-align: center">
				<ul class="links" style="align-content: center">
              	{% if not user.is_authenticated %}
					<li>
						<a href="{% url 'posts:all' %}" class="navbar-brand" style="color: white">Articles</a>
					</li>
					<li>
						<a href="{% url 'groups:all' %}" class="navbar-brand" style="color: white">Groups</a>
					</li>
              		<li>
						<a href="{% url 'accounts:login' %}" class="navbar-brand" style="color: white">Log In</a>
					</li>
              		<li>
						<a href="{% url 'accounts:signup' %}" class="navbar-brand" style="color: white">Sign Up</a>
					</li>
              	{% else %}
              		<li>
						<a href="{% url 'accounts:profile' %}" class="navbar-brand" style="color: white">Profile</a>
					</li>
					<li>
						<a href="{% url 'posts:all' %}" class="navbar-brand" style="color: white">Articles</a>
					</li>
					<li>
						<a href="{% url 'posts:create' %}" class="navbar-brand" style="color: white">Create Post</a>
					</li>
					<li>
						<a href="{% url 'groups:all' %}" class="navbar-brand" style="color: white">Groups</a>
					</li>
					<li>
						<a href="{% url 'accounts:logout' %}" class="navbar-brand" style="color: white">Log Out</a>
					</li>
              	{% endif %}
					<li><a href="{% url 'contact' %}" class="navbar-brand" style="color: white">Contact</a></li>
				</ul>
			</nav>
			{% block search %}
			{% endblock %}

			<div class="container" >
				{% block content %}
				{% endblock %}
			</div>

		<div >
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
			{% block js %}
			{% endblock %}
		</div>

	</body>
</html>
