{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% load bootstrap3 %}
{% block content %}
<section id="contact" >
  <p class="display-4" style="text-align: center">Contact Us</p>
  <div class="inner">
    <section style="margin-left: 4rem">
        <form method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
              <button type="submit">Send</button>
            </div>
        </form>
    </section>
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="#">articults@untitled.com</a>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-phone"></span>
          <h3>Phone</h3>
          <span>Will be updated.</span>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-home"></span>
          <h3>Address</h3>
          <span>Will be updated soon<br />
          Pincode - 0000000<br />
          India</span>
        </div>
      </section>
    </section>
  </div>
</section>
<footer id="footer" style=" margin-top: 1rem ; text-align : center ">
  <div class="inner">
    <ul class="copyright">
      <li>&copy; ArtiCults 2020</li>
    </ul>
  </div>
</footer>

</div>
{% endblock %}